.App {
  text-align: center;
}
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-thumb {
  background-color: #00c800;
  border-radius: 10px;
  cursor: pointer;
}
*::-webkit-scrollbar-track {
  background-color: rgb(69, 69, 69);
}
